In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from micromlgen import port

In [2]:
data = pd.read_csv(r"Crop_data.csv")
data

     temperature   humidity    rainfall   label
0      20.879744  82.002744  202.935536    rice
1      21.770462  80.319644  226.655537    rice
2      23.004459  82.320763  263.964248    rice
3      26.491096  80.158363  242.864034    rice
4      20.130175  81.604873  262.717340    rice
..           ...        ...         ...     ...
895    26.774637  66.413269  177.774507  coffee
896    27.417112  56.636362  127.924610  coffee
897    24.131797  67.225123  173.322839  coffee
898    26.272418  52.127394  127.175293  coffee
899    23.603016  60.396475  140.937041  coffee

[900 rows x 4 columns]

In [3]:
data.agg(['min', 'max'])

     temperature   humidity    rainfall       label
min    10.010813  45.022364   40.126504       apple
max    35.990097  99.981876  298.560117  watermelon

In [4]:
features = data[['temperature', 'humidity', 'rainfall']]
target = data['label']
labels = data['label']
acc = []
model = []
classname = data['label'].unique()
classname

array(['rice', 'blackgram', 'mango', 'watermelon', 'apple', 'orange',
       'coconut', 'cotton', 'coffee'], dtype=object)

In [5]:
data['label'].value_counts()

label
rice          100
blackgram     100
mango         100
watermelon    100
apple         100
orange        100
coconut       100
cotton        100
coffee        100
Name: count, dtype: int64

In [6]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5).fit(features,target)

C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [7]:
demo = np.array([[22, 90, 120]])
prediction = classifier.predict(demo)
print(prediction)

['apple']

C:\Users\Admin\anaconda3\envs\ML\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [8]:
c_code = port(classifier, classmap = data)
print(c_code)

#pragma once
#include <cstdarg>
namespace Eloquent {
    namespace ML {
        namespace Port {
            class DecisionTree {
                public:
                    /**
                    * Predict class for features vector
                    */
                    int predict(float *x) {
                        if (x[2] <= 100.05038452148438) {
                            if (x[1] <= 72.48319625854492) {
                                if (x[2] <= 82.10353469848633) {
                                    return 1;
                                }

                                else {
                                    return 5;
                                }
                            }

                            else {
                                if (x[2] <= 60.20680809020996) {
                                    return 8;
                                }

                                else {
                                    return 4;
                                }
                            }
                        }

                        else {
                            if (x[1] <= 87.48764419555664) {
                                if (x[1] <= 75.03537368774414) {
                                    if (x[2] <= 107.98443603515625) {
                                        return 5;
                                    }

                                    else {
                                        return 3;
                                    }
                                }

                                else {
                                    return 7;
                                }
                            }

                            else {
                                if (x[2] <= 128.0365867614746) {
                                    if (x[0] <= 24.059374809265137) {
                                        if (x[0] <= 21.03426456451416) {
                                            return 6;
                                        }

                                        else {
                                            return 0;
                                        }
                                    }

                                    else {
                                        return 6;
                                    }
                                }

                                else {
                                    return 2;
                                }
                            }
                        }
                    }

                    /**
                    * Predict readable class name
                    */
                    const char* predictLabel(float *x) {
                        return idxToLabel(predict(x));
                    }

                    /**
                    * Convert class idx to readable name
                    */
                    const char* idxToLabel(uint8_t classIdx) {
                        switch (classIdx) {
                            case temperature:
                            return "0      20.879744
                            1      21.770462
                            2      23.004459
                            3      26.491096
                            4      20.130175
                            ...
                            895    26.774637
                            896    27.417112
                            897    24.131797
                            898    26.272418
                            899    23.603016
                            Name: temperature, Length: 900, dtype: float64";
                            case humidity:
                            return "0      82.002744
                            1      80.319644
                            2      82.320763
                            3      80.158363
                            4      81.604873
                            ...
                            895    66.413269
                            896    56.636362
                            897    67.225123
                            898    52.127394
                            899    60.396475
                            Name: humidity, Length: 900, dtype: float64";
                            case rainfall:
                            return "0      202.935536
                            1      226.655537
                            2      263.964248
                            3      242.864034
                            4      262.717340
                            ...
                            895    177.774507
                            896    127.924610
                            897    173.322839
                            898    127.175293
                            899    140.937041
                            Name: rainfall, Length: 900, dtype: float64";
                            case label:
                            return "0        rice
                            1        rice
                            2        rice
                            3        rice
                            4        rice
                            ...
                            895    coffee
                            896    coffee
                            897    coffee
                            898    coffee
                            899    coffee
                            Name: label, Length: 900, dtype: object";
                            default:
                            return "Houston we have a problem";
                        }
                    }

                protected:
                };
            }
        }
    }